# Titanic dataset from Kaggle at:
https://www.kaggle.com/c/titanic/data
## We wish to train our algorithm to tell to what extent titanic passengers were or not doomed to die

In [108]:
import pandas as pd
import numpy as np
from prettytable import PrettyTable
from sklearn import preprocessing

In [3]:
titanic_data = pd.read_csv("./Datasets/titanic_train.csv")
titanic_data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

## Drop columns id, name, ticket, and cabin
Because they contain information of no use *or hard use* for our algorithm

In [4]:
titanic_data = titanic_data.drop(['PassengerId','Name', 'Ticket', 'Cabin' ], axis=1)

## Change the way Embarked and sex are encoded

In [5]:
titanic_data['Sex'] = titanic_data['Sex'].map({'female': 1, 'male': 0})
titanic_data['Embarked'] = titanic_data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [6]:
titanic_data.head(10)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       0.0
1         1       1    1  38.0      1      0  71.2833       1.0
2         1       3    1  26.0      0      0   7.9250       0.0
3         1       1    1  35.0      1      0  53.1000       0.0
4         0       3    0  35.0      0      0   8.0500       0.0
5         0       3    0   NaN      0      0   8.4583       2.0
6         0       1    0  54.0      0      0  51.8625       0.0
7         0       3    0   2.0      3      1  21.0750       0.0
8         1       3    1  27.0      0      2  11.1333       0.0
9         1       2    1  14.0      1      0  30.0708       1.0

In [96]:
# For now lets drop thos rows with missing values ):
titanic_data = titanic_data.dropna()

## Apply Gradient Descent
### Following Logistic Regression Heuristics
- Hypothesis Function
$$ h_\theta (X^{i}) = \frac{1}{1+e^{-\Theta ^{T}X^{i}}} $$

- Cost Function
$$ J(\theta) = - \frac{1}{m} \displaystyle \sum_{i=1}^m [Y^{i}\log (h_\theta (x^{i})) + (1 - Y^{i})\log (1 - h_\theta(X^{i}))] $$

- Gradient Descent
$$ \theta_{j}  = \theta_{j} - \alpha\frac{1}{m} \sum_{i=1}^{m} (h_\theta (X^{i}) - Y^{i})*X_j^{i} $$

In [112]:
dataMatrix = titanic_data.as_matrix()

NbPoints = titanic_data.shape[0]
NbVariables = titanic_data.shape[1] #because the result is not considered a variable, but we added a new clm with 1's

X = np.delete(dataMatrix, 0, 1) #only the parameters
X = np.insert(X, 0, 1, axis = 1) #Add a column with all 1 for independen parameter

Y = dataMatrix.T[0].reshape(NbPoints, 1) # Only the result which is the nb or rings as a column

In [113]:
# Define hypothesis function

# Th is the current Theta vector for our linear model
# X is the matrix with the training data
# i is the row of the data we want to know the prediction of 
def hyp (Th, X_i): 
    return 1 / (1 + ( np.exp( - np.dot( Th, X_i ) ) ) )

In [114]:
# Define the gradient correspondent to the logistic const function

# Th is the previous value of Th we had as a vector containing many thetas
# j is the index of Th we wish to upate, we will have to update all or some for stochastic gradient descent
# X is a matrix with colums being the variables used for learning
# Y is a column vecotr which gives the correct results for the parameters of X
def gradient (Th, j, X, Y):
    gradient = 0
    
    for i in range(NbPoints):
        gradient += ( hyp( Th, X[i] ) - Y[i] ) * X[i][j]
    
    return gradient

In [116]:
# Use the gradient of each parameter to update accordingly
Th = np.ones(NbVariables) # Initialize to random values like all 1's
Alph = 0.001
m = NbPoints

iterations = 70

### for printing the steps ###
lables = ['k', 'indep','Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
t = PrettyTable(lables)

for k in range(iterations):
    NewTh = Th #Define a new th as placeholder because we want to update all at once
    
    for j in range(NbVariables):
        NewTh[j] -= Alph/m * gradient(Th, j, X, Y)
    
    Th = NewTh
    t.add_row(np.insert( np.round(Th, decimals=3), 0, k+1 ) ) # Add to the printer table, prepend the step
    
print(t)

+------+-------+--------+-------+--------+-------+-------+-------+----------+
|  k   | indep | Pclass |  Sex  |  Age   | SibSp | Parch |  Fare | Embarked |
+------+-------+--------+-------+--------+-------+-------+-------+----------+
| 1.0  | 0.999 | 0.999  |  1.0  | 0.982  |  1.0  |  1.0  | 0.986 |   1.0    |
| 2.0  | 0.999 | 0.997  |  1.0  | 0.964  | 0.999 |  1.0  | 0.973 |   1.0    |
| 3.0  | 0.998 | 0.996  |  1.0  | 0.945  | 0.999 | 0.999 | 0.959 |   1.0    |
| 4.0  | 0.998 | 0.994  |  1.0  | 0.927  | 0.999 | 0.999 | 0.945 |  0.999   |
| 5.0  | 0.997 | 0.993  |  1.0  | 0.909  | 0.998 | 0.999 | 0.932 |  0.999   |
| 6.0  | 0.996 | 0.991  | 0.999 | 0.891  | 0.998 | 0.999 | 0.918 |  0.999   |
| 7.0  | 0.996 |  0.99  | 0.999 | 0.872  | 0.998 | 0.998 | 0.904 |  0.999   |
| 8.0  | 0.995 | 0.988  | 0.999 | 0.854  | 0.997 | 0.998 | 0.891 |  0.999   |
| 9.0  | 0.995 | 0.987  | 0.999 | 0.836  | 0.997 | 0.998 | 0.877 |  0.999   |
| 10.0 | 0.994 | 0.985  | 0.999 | 0.818  | 0.997 | 0.998 | 0.863 |  0.999   |
| 11.0 | 0.993 | 0.984  | 0.999 | 0.799  | 0.997 | 0.998 |  0.85 |  0.999   |
| 12.0 | 0.993 | 0.982  | 0.999 | 0.781  | 0.996 | 0.997 | 0.836 |  0.998   |
| 13.0 | 0.992 | 0.981  | 0.999 | 0.763  | 0.996 | 0.997 | 0.822 |  0.998   |
| 14.0 | 0.992 | 0.979  | 0.999 | 0.745  | 0.996 | 0.997 | 0.809 |  0.998   |
| 15.0 | 0.991 | 0.978  | 0.999 | 0.726  | 0.995 | 0.997 | 0.795 |  0.998   |
| 16.0 |  0.99 | 0.976  | 0.999 | 0.708  | 0.995 | 0.997 | 0.781 |  0.998   |
| 17.0 |  0.99 | 0.975  | 0.998 |  0.69  | 0.995 | 0.996 | 0.768 |  0.998   |
| 18.0 | 0.989 | 0.973  | 0.998 | 0.672  | 0.994 | 0.996 | 0.754 |  0.998   |
| 19.0 | 0.989 | 0.972  | 0.998 | 0.653  | 0.994 | 0.996 |  0.74 |  0.998   |
| 20.0 | 0.988 |  0.97  | 0.998 | 0.635  | 0.994 | 0.996 | 0.726 |  0.997   |
| 21.0 | 0.987 | 0.969  | 0.998 | 0.617  | 0.993 | 0.995 | 0.713 |  0.997   |
| 22.0 | 0.987 | 0.967  | 0.998 | 0.599  | 0.993 | 0.995 | 0.699 |  0.997   |
| 23.0 | 0.986 | 0.966  | 0.998 | 0.581  | 0.993 | 0.995 | 0.685 |  0.997   |
| 24.0 | 0.986 | 0.964  | 0.998 | 0.562  | 0.992 | 0.995 | 0.672 |  0.997   |
| 25.0 | 0.985 | 0.963  | 0.998 | 0.544  | 0.992 | 0.995 | 0.658 |  0.997   |
| 26.0 | 0.985 | 0.962  | 0.998 | 0.526  | 0.992 | 0.994 | 0.644 |  0.997   |
| 27.0 | 0.984 |  0.96  | 0.998 | 0.508  | 0.992 | 0.994 | 0.631 |  0.997   |
| 28.0 | 0.983 | 0.959  | 0.997 | 0.489  | 0.991 | 0.994 | 0.617 |  0.996   |
| 29.0 | 0.983 | 0.957  | 0.997 | 0.471  | 0.991 | 0.994 | 0.603 |  0.996   |
| 30.0 | 0.982 | 0.956  | 0.997 | 0.453  | 0.991 | 0.993 |  0.59 |  0.996   |
| 31.0 | 0.982 | 0.954  | 0.997 | 0.435  |  0.99 | 0.993 | 0.576 |  0.996   |
| 32.0 | 0.981 | 0.953  | 0.997 | 0.416  |  0.99 | 0.993 | 0.562 |  0.996   |
| 33.0 |  0.98 | 0.951  | 0.997 | 0.398  |  0.99 | 0.993 | 0.549 |  0.996   |
| 34.0 |  0.98 |  0.95  | 0.997 |  0.38  | 0.989 | 0.993 | 0.535 |  0.996   |
| 35.0 | 0.979 | 0.948  | 0.997 | 0.362  | 0.989 | 0.992 | 0.521 |  0.996   |
| 36.0 | 0.979 | 0.947  | 0.997 | 0.343  | 0.989 | 0.992 | 0.508 |  0.995   |
| 37.0 | 0.978 | 0.945  | 0.997 | 0.325  | 0.988 | 0.992 | 0.494 |  0.995   |
| 38.0 | 0.977 | 0.944  | 0.997 | 0.307  | 0.988 | 0.992 |  0.48 |  0.995   |
| 39.0 | 0.977 | 0.942  | 0.996 | 0.289  | 0.988 | 0.992 | 0.467 |  0.995   |
| 40.0 | 0.976 | 0.941  | 0.996 |  0.27  | 0.987 | 0.991 | 0.453 |  0.995   |
| 41.0 | 0.976 | 0.939  | 0.996 | 0.252  | 0.987 | 0.991 | 0.439 |  0.995   |
| 42.0 | 0.975 | 0.938  | 0.996 | 0.234  | 0.987 | 0.991 | 0.426 |  0.995   |
| 43.0 | 0.974 | 0.936  | 0.996 | 0.216  | 0.987 | 0.991 | 0.412 |  0.995   |
| 44.0 | 0.974 | 0.935  | 0.996 | 0.198  | 0.986 |  0.99 | 0.398 |  0.994   |
| 45.0 | 0.973 | 0.933  | 0.996 | 0.179  | 0.986 |  0.99 | 0.385 |  0.994   |
| 46.0 | 0.973 | 0.932  | 0.996 | 0.161  | 0.986 |  0.99 | 0.371 |  0.994   |
| 47.0 | 0.972 |  0.93  | 0.996 | 0.143  | 0.985 |  0.99 | 0.357 |  0.994   |
| 48.0 | 0.971 | 0.929  | 0.996 | 0.125  | 0.985 |  0.99 | 0.344 |  0.994   |
| 49.0 | 0.971 | 0.927  | 0.996 | 0.106  | 0.985 | 0.989 |  0.33 |  0.994   |
| 50.0 |  0.97 | 0.926  | 0.996 | 0.088  | 0.984 | 0.989 | 0.316 |  0.994   |
| 51.0 |  0.97 | 0.925  | 0.995 |  0.07  | 0.984 | 0.989 | 0.303 |  0.993   |
| 52.0 | 0.969 | 0.923  | 0.995 | 0.052  | 0.984 | 0.989 | 0.289 |  0.993   |
| 53.0 | 0.968 | 0.922  | 0.995 | 0.033  | 0.983 | 0.988 | 0.275 |  0.993   |
| 54.0 | 0.968 |  0.92  | 0.995 | 0.015  | 0.983 | 0.988 | 0.262 |  0.993   |
| 55.0 | 0.967 | 0.919  | 0.995 | -0.003 | 0.983 | 0.988 | 0.248 |  0.993   |
| 56.0 | 0.967 | 0.917  | 0.995 | -0.021 | 0.982 | 0.988 | 0.234 |  0.993   |
| 57.0 | 0.966 | 0.916  | 0.995 | -0.039 | 0.982 | 0.988 | 0.221 |  0.993   |
| 58.0 | 0.965 | 0.914  | 0.995 | -0.057 | 0.982 | 0.987 | 0.207 |  0.993   |
| 59.0 | 0.965 | 0.913  | 0.995 | -0.075 | 0.982 | 0.987 | 0.194 |  0.992   |
| 60.0 | 0.964 | 0.911  | 0.995 | -0.092 | 0.981 | 0.987 |  0.18 |  0.992   |
| 61.0 | 0.964 |  0.91  | 0.995 | -0.108 | 0.981 | 0.987 | 0.168 |  0.992   |
| 62.0 | 0.963 | 0.909  | 0.994 | -0.122 | 0.981 | 0.987 | 0.155 |  0.992   |
| 63.0 | 0.963 | 0.908  | 0.994 | -0.134 |  0.98 | 0.986 | 0.144 |  0.992   |
| 64.0 | 0.962 | 0.906  | 0.994 | -0.145 |  0.98 | 0.986 | 0.133 |  0.992   |
| 65.0 | 0.962 | 0.905  | 0.994 | -0.155 |  0.98 | 0.986 | 0.123 |  0.992   |
| 66.0 | 0.962 | 0.905  | 0.994 | -0.163 | 0.979 | 0.986 | 0.113 |  0.992   |
| 67.0 | 0.961 | 0.904  | 0.994 | -0.17  | 0.979 | 0.985 | 0.104 |  0.992   |
| 68.0 | 0.961 | 0.903  | 0.994 | -0.175 | 0.979 | 0.985 | 0.095 |  0.992   |
| 69.0 | 0.961 | 0.902  | 0.994 | -0.18  | 0.979 | 0.985 | 0.088 |  0.991   |
| 70.0 | 0.961 | 0.902  | 0.994 | -0.183 | 0.978 | 0.985 |  0.08 |  0.991   |
+------+-------+--------+-------+--------+-------+-------+-------+----------+

In [ ]:
# Use the gradient of each parameter to update accordingly
Th = np.ones(NbVariables) # Initialize to random values like all 1's
Alph = 0.001
m = NbPoints #should be nb of points in set

iterations = 10000
memo = np.array([Th]) # Lets give the CPU a brake

for k in range(iterations):
    NewTh = Th #Define a new th as placeholder because we want to update all at once
    
    for j in range(NbVariables):
        NewTh[j] -= Alph/m * gradient(Th, j, X, Y)
    
    Th = NewTh
    if (k % 500 == 0):
        memo = np.append(memo ,[Th], axis=0)

In [174]:
memo

array([[ 1.        ,  1.        ,  1.        ,  1.        ,  1.        ,
         1.        ,  1.        ,  1.        ],
       [ 0.99940449,  0.99851966,  0.99991011,  0.98176194,  0.9996868 ,
         0.9997823 ,  0.98632394,  0.99987219],
       [ 0.99344944,  0.98371629,  0.99901124,  0.79938132,  0.99655478,
         0.99760534,  0.84956336,  0.9985941 ],
       [ 0.98749438,  0.96891292,  0.99811236,  0.6170007 ,  0.99342275,
         0.99542837,  0.71280278,  0.99731601],
       [ 0.98153933,  0.95410955,  0.99721348,  0.43462009,  0.99029073,
         0.9932514 ,  0.5760422 ,  0.99603792],
       [ 0.97558427,  0.93930619,  0.99631461,  0.2522395 ,  0.98715871,
         0.99107444,  0.43928163,  0.99475983],
       [ 0.96962944,  0.92450339,  0.99541575,  0.06986464,  0.9840267 ,
         0.98889748,  0.30252302,  0.99348176],
       [ 0.96379048,  0.90997   ,  0.99452571, -0.10761794,  0.98089754,
         0.9867217 ,  0.16759013,  0.99221841],
       [ 0.9604369 ,  0.90104773,  0.99403424, -0.18635807,  0.97803247,
         0.9846891 ,  0.07403911,  0.99133511],
       [ 0.95927606,  0.89673786,  0.99415922, -0.18865332,  0.97584939,
         0.98303716,  0.03804721,  0.99089584],
       [ 0.95849281,  0.8929792 ,  0.99446951, -0.17755156,  0.97386241,
         0.98150821,  0.02662474,  0.99055808]])

In [166]:
def isAlive(Th, X, i):
    return 1. if int(np.dot(X[i], Th)) > 0 else 0.

In [167]:
t = PrettyTable(['Exp', 'Real'])

for i in range(NbPoints):
    t.add_row( [ int(100*(hyp(Th, X[i]))), Y[i][0]] )
    
print(t.get_string(start = 50, end = 100))

+-----+------+
| Exp | Real |
+-----+------+
|  99 | 1.0  |
|  73 | 0.0  |
|  15 | 0.0  |
|  99 | 0.0  |
|  51 | 0.0  |
|  77 | 0.0  |
|  29 | 1.0  |
|  38 | 0.0  |
|  97 | 1.0  |
|  50 | 1.0  |
|  46 | 0.0  |
|  28 | 1.0  |
|  19 | 0.0  |
|  72 | 1.0  |
|  88 | 1.0  |
|  98 | 0.0  |
|  99 | 1.0  |
|  41 | 0.0  |
|  28 | 0.0  |
|  52 | 0.0  |
|  7  | 0.0  |
|  87 | 0.0  |
|  1  | 0.0  |
|  0  | 0.0  |
|  74 | 1.0  |
|  50 | 1.0  |
|  26 | 0.0  |
|  55 | 0.0  |
|  61 | 0.0  |
|  20 | 0.0  |
|  44 | 0.0  |
|  30 | 0.0  |
|  72 | 1.0  |
|  12 | 0.0  |
|  2  | 0.0  |
|  97 | 0.0  |
|  46 | 0.0  |
|  87 | 0.0  |
|  92 | 0.0  |
|  49 | 0.0  |
|  2  | 0.0  |
|  37 | 0.0  |
|  92 | 0.0  |
|  99 | 0.0  |
|  83 | 0.0  |
|  53 | 0.0  |
|  32 | 1.0  |
|  3  | 0.0  |
|  94 | 1.0  |
|  40 | 1.0  |
+-----+------+

In [168]:
from sklearn import metrics

predictions = np.array([])
for i in range(NbPoints):
    predictions = np.append(predictions ,[isAlive(Th, X, i)])

print(str(int(100*metrics.accuracy_score(Y, predictions))) + "% accuracy on train data") #nice cast nesting btw

64% accuracy on train data